// Configurable variables
params {
    outdir = './results'
    joint = false
    // extract
    proportion_repeat = 0.8
    min_mapq = 40
    // call
    min_support = 5
    min_clip = 0
    min_clip_total = 0
    // merge
    window = -1
    // outliers
    control = []
    slop = 50
    min_clips = 0
    min_size = 0
}

process {
    time = 4.h
    memory = 8.GB
    cpus = 1
    // container = 'quay.io/biocontainers/strling:0.5.0--h14cfee4_0'
    cache = 'lenient'
    withName: joint_merge {
        time = 48.h
        memory = 120.GB
    }
    withName: call {
        time = 24.h
        memory = 24.GB
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.runOptions = '--bind /scratch'
        singularity.enabled = true
    }
    none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}

manifest {
    name = 'brwnj/STRling-nf'
    author = 'Joe Brown'
    description = ''
    version = '1.0.0'
    nextflowVersion = '>=20.10.0'
    homePage = ''
    mainScript = 'main.nf'
}
